
.sidebarR{
  width: 70%;
  float:right;
}
.sidebar{
  width: 29%;
  float: left;
}
.my-class {
  text-align:center;
  border: 5px solid rgb(0, 0, 0);
  padding: 10px;
  background-color: rgb(144, 205, 216);
  display: block;
  margin: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  box-sizing: border-box;
}
.left-image {
  border: 2px solid rgb(0, 0, 0);
  width: 50%;
  height: auto;
  margin: 30px;
  width: 80%;
  height: auto;
  display: block;
  box-sizing: border-box;
}
body {
  background-color: rgb(209, 209, 209);
}